documents/bibk.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xml="http://www.w3.org/XML/1998/namespace" elementFormDefault="qualified"
  attributeFormDefault="unqualified"><!-- XML Schema Version 1.1 -->
  <xs:annotation>
    <xs:documentation>BIlingual BooK (bibk) XML Schema. A variant of DocBook 5.2 tailored for
      bilingual dedicated to bilingual text documents: poems, short stories, novels, academic
      articles...</xs:documentation>
  </xs:annotation>
  <xs:import namespace="http://www.w3.org/XML/1998/namespace"
    schemaLocation="https://www.w3.org/2009/01/xml.xsd" />
  <xs:element name="book">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="info" minOccurs="1" maxOccurs="1">
          <xs:complexType>
            <xs:complexContent>
              <xs:extension base="mininfo">
                <xs:sequence>
                  <xs:element name="abstract" type="bipara" minOccurs="0" maxOccurs="1" />
                  <xs:element name="authorgroup" type="authorgroup" minOccurs="0" maxOccurs="1" />
                  <xs:element name="biblioid" type="xs:string" minOccurs="0" maxOccurs="2" />
                  <xs:element name="cover" type="xs:string" minOccurs="0" maxOccurs="1" />
                  <xs:element name="edition" type="xs:string" minOccurs="0" maxOccurs="1" />
                  <xs:element name="keywordset" minOccurs="0" maxOccurs="1">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="keyword" type="xs:string" minOccurs="1"
                          maxOccurs="unbounded" />
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                  <xs:element name="legalnotice" type="bipara" minOccurs="0" maxOccurs="1" />
                  <xs:element name="printhistory" type="bipara" minOccurs="0" maxOccurs="1" />
                  <xs:element name="pubdate" type="date" minOccurs="0" maxOccurs="1" />
                  <xs:element name="publisher" minOccurs="0" maxOccurs="1">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="publishername" type="xs:string" minOccurs="1"
                          maxOccurs="1" />
                        <xs:element name="address" minOccurs="0" maxOccurs="1">
                          <xs:complexType mixed="true">
                            <xs:sequence>
                              <xs:element name="email" minOccurs="0" maxOccurs="1" type="xs:string" />
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                  <xs:element name="subjectset" minOccurs="0" maxOccurs="1">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="subject" minOccurs="1" maxOccurs="unbounded">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element name="subjectterm" minOccurs="1" maxOccurs="unbounded"
                                type="xs:string"></xs:element>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:extension>
            </xs:complexContent>
          </xs:complexType>
        </xs:element>
        <xs:choice>
          <xs:element name="article" minOccurs="1" maxOccurs="1">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:minLength value="1" />
                <xs:maxLength value="256" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:sequence>
            <xs:element name="preface" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="info" type="medinfo" minOccurs="0" maxOccurs="1" />
                  <xs:element name="warning" type="section" />
                  <xs:element name="para" type="bipara" minOccurs="1" maxOccurs="unbounded" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:choice>
              <xs:element name="chapter" minOccurs="1" maxOccurs="unbounded" type="section" />
              <xs:element name="part" minOccurs="1" maxOccurs="unbounded">
                <xs:annotation>
                  <xs:documentation>A part is composed of un info and one or more chapters</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:complexContent>
                    <xs:extension base="mininfo">
                      <xs:sequence>
                        <xs:element name="chapter" type="section" minOccurs="1"
                          maxOccurs="unbounded" />
                      </xs:sequence>
                    </xs:extension>
                  </xs:complexContent>
                </xs:complexType>
              </xs:element>
            </xs:choice>
          </xs:sequence>
        </xs:choice>
        <xs:element name="appendix" type="section" minOccurs="0" maxOccurs="unbounded">
        </xs:element>
        <xs:element name="index" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="info" type="mininfo" minOccurs="1" maxOccurs="1" />
              <xs:choice minOccurs="1" maxOccurs="unbounded">
                <xs:element name="indexentry" type="indexentry" minOccurs="1" maxOccurs="unbounded" />
              </xs:choice>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="authorgroup">
    <xs:sequence>
      <xs:element name="author" minOccurs="1" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="personname" type="personname" minOccurs="1" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="othercredit" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="personname" type="personname" minOccurs="1" maxOccurs="1" />
          </xs:sequence>
          <xs:attribute name="class">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="conversion" />
                <xs:enumeration value="copyeditor" />
                <xs:enumeration value="coverdesigner" />
                <xs:enumeration value="graphicdesigner" />
                <xs:enumeration value="illustrator" />
                <xs:enumeration value="indexer" />
                <xs:enumeration value="interiordesigner" />
                <xs:enumeration value="productioneditor" />
                <xs:enumeration value="proofreader" />
                <xs:enumeration value="reviewer" />
                <xs:enumeration value="technicaleditor" />
                <xs:enumeration value="translator" />
                <xs:enumeration value="typesetter" />
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="bipara">
    <xs:sequence minOccurs="1" maxOccurs="1">
      <xs:element name="para" minOccurs="1" maxOccurs="1">
        <xs:complexType mixed="true">
          <xs:sequence>
            <xs:element name="foreignphrase" minOccurs="1" maxOccurs="1" type="foreignphrase">
              <xs:annotation>
                <xs:documentation>Source paragraph</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:group ref="richtext" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
          <xs:attribute ref="xml:id" use="optional" />
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:assert test="foreignphrase[1]/@role='source'"/>
  </xs:complexType>
  <xs:complexType name="bitext" mixed="true">
    <xs:sequence minOccurs="1" maxOccurs="1">
      <xs:element name="foreignphrase" minOccurs="1" maxOccurs="1">
        <xs:complexType>
          <xs:complexContent>
            <xs:extension base="rtext">
              <xs:attribute name="role" fixed="source" use="required"/>
              <xs:attribute ref="xml:lang" use="required" />
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="ruby" type="ruby" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="date">
    <xs:union memberTypes="xs:date xs:gYearMonth xs:gYear" />
  </xs:simpleType>
  <xs:complexType name="footnote">
    <xs:all>
      <xs:element name="para" type="rtext" />
    </xs:all>
  </xs:complexType>
  <xs:complexType name="foreignphrase">
    <xs:sequence minOccurs="1" maxOccurs="1">
      <xs:group ref="richtext" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attribute name="role" fixed="source" use="optional"/>
    <xs:attribute ref="xml:lang" use="required" />
  </xs:complexType>
  <xs:complexType name="imagedata">
    <xs:attribute name="fileref" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="imageobject">
    <xs:sequence minOccurs="1" maxOccurs="1">
      <xs:element name="imagedata" type="imagedata" minOccurs="1" maxOccurs="1" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="indexentry">
    <xs:all>
      <xs:element name="primaryie" type="primaryie" />
    </xs:all>
  </xs:complexType>
  <xs:complexType name="mediaobject">  
    <xs:annotation>
      <xs:documentation>A default (bilingual) image, and optionaly 2 monolingual images (with xml:lang set)</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="imageobject" type="imageobject" minOccurs="1" maxOccurs="3" />
      <xs:element name="caption" type="bipara" minOccurs="0" maxOccurs="1" />
    </xs:sequence>
    <xs:attribute ref="xml:lang" use="optional" />
    <xs:assert test="not(imageobject[1]/@xml:lang)"/>   
  </xs:complexType>
  <xs:complexType name="medinfo">
    <xs:complexContent>
      <xs:extension base="mininfo">
        <xs:sequence>
          <xs:element name="authorgroup" type="authorgroup" minOccurs="0" maxOccurs="1" />
          <xs:element name="pubdate" type="xs:date" minOccurs="0" maxOccurs="1" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="mininfo">
    <xs:sequence>
      <xs:element name="subtitle" type="bitext" minOccurs="0" maxOccurs="1" />
      <xs:element name="title" type="bitext" minOccurs="1" maxOccurs="1" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="outputformat">
    <xs:restriction base="xs:string">
      <xs:enumeration value="epub" />
      <xs:enumeration value="pdf" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="personname">
    <xs:all>
      <xs:element name="firstname" type="bitext" />
      <xs:element name="surname" type="bitext" />
    </xs:all>
  </xs:complexType>
  <xs:complexType name="primaryie">
    <xs:all>
      <xs:element name="link">
        <xs:complexType>
          <xs:complexContent>
            <xs:extension base="bitext">
              <xs:attribute name="linkend" type="xs:IDREF" use="required" />
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
    </xs:all>
  </xs:complexType>
  <xs:group name="richtext">
    <xs:choice>
      <xs:element name="citetitle" type="rtext" />
      <xs:element name="date" type="date" />
      <xs:element name="emphasis" type="rtext" />
      <xs:element name="footnote" type="footnote" />
      <xs:element name="foreignphrase" type="foreignphrase">
        <xs:annotation>
          <xs:documentation>A phrase in a tier language (not the original text in the source
            language)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ruby" type="ruby" />
    </xs:choice>
  </xs:group>
  <xs:complexType name="rtext" mixed="true">
    <xs:annotation>
      <xs:documentation>Plain text with optional ruby elements for Japanese furiganas</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ruby" type="ruby" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ruby" mixed="true">
    <xs:sequence>
      <xs:element name="rt" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="section">
    <xs:sequence>
      <xs:element name="info" type="mininfo" minOccurs="1" maxOccurs="1" />
      <xs:choice minOccurs="1" maxOccurs="unbounded">
        <xs:element name="para" type="bipara" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="mediaobject" type="mediaobject" />
        <xs:element name="bridgehead">
          <xs:complexType>
            <xs:attribute name="renderas" fixed="other" />
            <xs:attribute name="otherrenderas" fixed="separator" />
          </xs:complexType>
        </xs:element>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
</xs:schema>